<a href="https://colab.research.google.com/github/earo12/Case-Study-ANN/blob/main/ANN_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler  
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values

In [ ]:
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [ ]:
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough' )#Here we want to change the second column of X
X = np.array(ct.fit_transform(X))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
ann = tf.keras.models.Sequential()

In [13]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

In [14]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

In [15]:
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

In [16]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [17]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.4980 - accuracy: 0.7922
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4536 - accuracy: 0.7964
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4419 - accuracy: 0.7999
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4358 - accuracy: 0.8070
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.8091
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4292 - accuracy: 0.8135
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4270 - accuracy: 0.8155
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4244 - accuracy: 0.8169
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4217 - accuracy: 0.8185
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4189 - accuracy: 0.8219
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4175 - accuracy: 0.8235
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4155 - accuracy: 0.8255
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4140 - accuracy: 0.8255
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4125 - accuracy: 0.8271
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4116 - accuracy: 0.8275
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4105 - accuracy: 0.8269
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4095 - accuracy: 0.8300
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8278
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8294
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8310
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.8296
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8300
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8311
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8304
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8314
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4037 - accuracy: 0.8306
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8344
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8314
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8320
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8330
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8322
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8330
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8341
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8339
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3988 - accuracy: 0.8355
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8353
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3980 - accuracy: 0.8350
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3977 - accuracy: 0.8363
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3972 - accuracy: 0.8363
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3971 - accuracy: 0.8357
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3962 - accuracy: 0.8357
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8371
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8365
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3948 - accuracy: 0.8375
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3945 - accuracy: 0.8379
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3942 - accuracy: 0.8391
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3928 - accuracy: 0.8382
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3926 - accuracy: 0.8381
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3917 - accuracy: 0.8401
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8415
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3894 - accuracy: 0.8405
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8411
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3849 - accuracy: 0.8413
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3810 - accuracy: 0.8461
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8460
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3715 - accuracy: 0.8495
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3669 - accuracy: 0.8509
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3620 - accuracy: 0.8505
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8540
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3544 - accuracy: 0.8540
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3516 - accuracy: 0.8564
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3496 - accuracy: 0.8560
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3481 - accuracy: 0.8551
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8559
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3460 - accuracy: 0.8561
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8569
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8585
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8589
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8595
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8591
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8584
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8587
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8597
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8594
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8606
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8606
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8601
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8597
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3417 - accuracy: 0.8581
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8600
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8601
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8602
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3411 - accuracy: 0.8616
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8609
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8597
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8611
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8595
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8609
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8590
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8615
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8596
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8604
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8619
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8614
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8601
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8602
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8606
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8606
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8605
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8608